.tableContainer {
  background-color: rgba(255, 255, 255, 0.4);
}

.tableHeaderCell {
  font-family: "Roboto Condensed", sans-serif;
}

.tableRowCell {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.tableRowCellButton {
  color: #000000; /* Color de texto negro */
}

.tableRowCellButton:hover {
  color: #ff0000; /* Color de texto rojo al pasar el mouse */
}

.tableRowCellImage {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
